@import "_vars.scss";
@import "_dx.scss";

html,
body {
	font-family: $font-family !important;
	font-size: 14px;
	letter-spacing: -0.6px;
}

.color-error {
	color: $error;
}

.color-gray-10 {
	color: $color-gray-10;
}
.color-gray-20 {
	color: $color-gray-20;
}
.color-gray-30 {
	color: $color-gray-30;
}
.color-gray-40 {
	color: $color-gray-40;
}
.color-gray-50 {
	color: $color-gray-50;
}
.color-gray-60 {
	color: $color-gray-60;
}
.color-gray-70 {
	color: $color-gray-70;
}
.color-gray-80 {
	color: $color-gray-80;
}
.color-gray-90 {
	color: $color-gray-90;
}

// [class*=" icon-"],
// [class^="icon-"] {
// 	font-family: icomoon !important;
// 	font-style: normal;
// 	font-size: 1rem;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1rem;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

a.link {
	color: $main-color-500;
	border-bottom: 1px dotted $main-color-500;
	&:hover {
		border-bottom: none;
	}
}

.navbar-toggler {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: -1px;
	color: #fff !important;
}

h1,
h2,
h3 {
	letter-spacing: -1.4px;
	i {
		margin-bottom: 4px;
		&::before {
			font-size: 1.5rem;
		}
	}
}

.breadcrumb {
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: -1px;
	padding-right: 1rem;
}

$color: $main-color-600;
.footer {
	display: flex;
	justify-content: center;
	#navbar-footer {
		max-width: $max-width !important;
	}
	font-weight: 600;
	.navbar-toggler {
		color: $color !important;
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: -1px;
	}
	.navbar-text,
	.nav-item {
		color: $text;
		a {
			opacity: 1;
			color: $color !important;
			text-decoration: none;

			&:hover,
			&:active,
			&:focus {
				color: $color !important;
			}
		}
	}
}

.page-header {
	h1,
	h2,
	h3 {
		color: $text;
	}
	.page-title {
		padding: 1.2rem 0.5rem;
	}
}

.page-content {
	background: url("/assets/img/bg.png");
	background-position: top right !important;
	background-repeat: no-repeat !important;
	background-color: #eeeded !important;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	display: flex;
	// align-items: center;
	justify-content: center;
	.content-wrapper {
		max-width: $max-width;
	}
}

.navbar-brand img {
	height: 31px;
	display: block;
	margin-top: 0.4rem;
	margin-bottom: 0.2rem;
}

.navbar {
	&.bg-white {
		display: flex;
		justify-content: center;
		.head {
			width: 100%;
			display: flex;
			max-width: $max-width;
			justify-content: flex-end;
		}
	}
	&.navbar-sticky {
		display: flex;
		justify-content: center;
		#navbar-navigation {
			max-width: $max-width;
			.nav-item {
				a {
					font-weight: 600;
				}
				// &:first-child {
				// 	a {
				// 		padding-left: 0;
				// 	}
				// }
				// &:last-child {
				// 	a {
				// 		padding-right: 0;
				// 	}
				// }
			}
		}
	}
}

.navbar-nav-link {
	color: #fff !important;
	opacity: 0.7;
	padding: 0.875rem 0.7rem;
	&:hover,
	&:active,
	&:focus {
		opacity: 1;
	}
	&.router-link-exact-active {
		opacity: 1;
	}
}

.navbar-nav-highlight .navbar-nav-link {
	$size: 1.08rem;
	text-transform: none;
	font-size: $size;
	line-height: $size;
	font-weight: 500;
}

.dropdown-item {
	font-size: 1rem;
	line-height: 1rem;
}

.dropdown-menu {
	margin-top: -0.4rem;
	box-shadow: $shadow;
	.dropdown-header {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.84rem;
		padding-top: 0;
		padding-bottom: 0;
		// border-bottom: 1px solid #ccc;
		margin-bottom: 0rem;
		margin-bottom: 0;
	}
	i::before {
		font-size: 16px !important;
		color: $main-color-500;
	}
	.dropdown-item {
		font-weight: 500 !important;
		i {
			margin-right: 0.5rem;
		}
		&::after {
			font-size: 1.2rem !important;
			font-weight: 400 !important;
			color: $main-color-400;
		}
	}
	& > .dropdown-submenu > .dropdown-item:after {
		content: "\edbc";
		font-family: icomoon;
		margin-top: -0.2rem;
		right: 0.8rem;
		font-size: 0.7rem !important;
		color: $main-color-600;
	}
}

.wlcm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	a {
		margin-top: 2rem;
	}
}

.btn {
	$size: 1rem;
	font-size: $size;
	cursor: pointer;
	i {
		margin-top: 0 !important;
		font-size: $size !important;
		line-height: $size !important;
		&::before {
			font-size: $size !important;
		}
	}
	&.btn-main {
		background-color: $main-color-600;
		color: rgba(#fff, 0.7);
		font-weight: 600 !important;
		font-size: 0.9rem;
		letter-spacing: -0.2px;
		border: none;
		border-radius: $radius;
		&:hover,
		&:active,
		&:focus {
			color: rgba(#fff, 1);
		}
	}
}

.nav-tabs {
	&.wizard {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		align-items: center;
		.nav-item {
			display: inline-block;
			$color: rgb(194, 194, 194);

			&.right {
				margin-left: auto;
			}
			.nav-link {
				font-size: 0.94rem;
				font-weight: 600;
				color: $color;

				&.active {
					letter-spacing: -1px;
					font-size: 1.16rem;
					border-top-color: $main-color-600;
					color: $main-color-500;
					&::before {
						background-color: $main-color-600;
					}
				}
			}
		}
	}
}

.tab-content {
	&.wizard {
		padding-top: 0.6rem;
		h2 {
			font-weight: 300;
			font-size: 2.2rem;
			letter-spacing: -2px;
			// text-transform: lowercase;
		}
	}
}

input[type="text"],
input[type="password"],
textarea,
select {
	font-size: 1.05rem !important;
	letter-spacing: -0.6px !important;
}

.form-control:focus,
.form-control:not(.border-bottom-1):not(.border-bottom-2):not(.border-bottom-3):focus {
	outline: 0;
	border-color: $main-color-500;
	box-shadow: 0 0 0 0 transparent, 0 1px 0 $main-color-500;
}

a {
	&:hover,
	&:active,
	&:focus {
		color: $main-color-500;
	}
}

hr {
	&.sep {
		margin-top: 0.2rem;
		margin-bottom: 1.5rem;
		border: 0;
		border-top: 1px dotted #ccc;
	}
}

.form-group {
	label {
		font-size: 1rem;
		font-weight: 600;
		margin: 0;
	}
	&.fileuploader-container {
		margin: 0;
	}
	.btn-sm {
		margin-top: 7px;
	}
	&.text-center {
		text-align: center;
		// label {
		// 	padding-right: 9px;
		// }
		input[type="text"] {
			text-align: center;
			&::placeholder {
				text-align: center; /* for Chrome, Firefox, Opera */
			}
			&:-ms-input-placeholder {
				text-align: center; /* for IE 10-11 */
			}
			&::-webkit-input-placeholder {
				text-align: center; /* for IE Edge */
			}
		}
	}
	&.text-end {
		text-align: right;
		label {
			padding-right: 9px;
		}
		input[type="text"] {
			text-align: right;
			&::placeholder {
				text-align: right; /* for Chrome, Firefox, Opera */
			}
			&:-ms-input-placeholder {
				text-align: right; /* for IE 10-11 */
			}
			&::-webkit-input-placeholder {
				text-align: right; /* for IE Edge */
			}
		}
	}
}

.color-text {
	color: $text !important;
}

.hand {
	cursor: pointer;
}

.text-sb,
.font-weight-semibold {
	font-weight: 600;
}

.dropdown-toggle::after {
	font-family: icomoon;
	content: "\edc0";
}

.icon-2x {
	font-size: 2rem;
}
.icon-3x {
	font-size: 3rem;
}

textarea.code {
	display: block;
	width: 40rem;
	margin-top: 1rem;
	height: 10rem;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.76rem !important;
	letter-spacing: normal !important;
	&:hover,
	&:active,
	&:focus {
		outline: none !important;
	}
}

.btn-labeled-left > b {
	left: 0;
}
.btn-labeled > b {
	top: 0;
}

// .btn btn-main float-right dx-button dx-button-normal dx-button-mode-contained dx-widget .navbar-sticky.is_stuck {
// 	// border: 1px solid red !important;
// 	z-index: 2000;
// }

.dx-overlay-shader .dx-overlay-content .dx-popup-bottom .dx-toolbar-item .dx-dialog-button:first-child {
	margin: 0 !important;
}

h1.tit {
	font-weight: 300;
	font-size: 2.5rem;
	line-height: 2.5rem;
	letter-spacing: -3px;
	color: $main-color-600;
	padding: 0;
	margin: 0;
	margin-bottom: 1.2rem;
}

.sep.tit {
	margin-bottom: 1rem;
}

.btn {
	&.disabled,
	&.dx-state-disabled,
	&:disabled {
		opacity: 0.8;
		background-color: #ccc;
		// -webkit-filter: grayscale;
		// -webkit-filter: brightness(40%);
	}
}

span.cmds {
	$size: 1.1rem;
	a {
		display: inline-block;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: 1.2rem;
		margin-right: 0.5rem;
		color: #999;
		&:hover {
			color: $main-color-600;
			opacity: 1 !important;
			// i {
			// 	font-size: 1rem !important;
			// 	font-weight: 600 !important;
			// }
		}
		i {
			&::before {
				font-size: 1.2rem;
			}
		}
		&:last-child {
			margin: 0 !important;
		}
	}
}

.slide {
	display: none;
	min-height: 5px;
	zoom: 1;
}

#login {
	h1 {
		i {
			&::before {
				font-size: 3rem;
			}
		}
	}
	h3 {
		font-weight: 600;
		letter-spacing: -0.5px;
		font-size: 1.2rem;
		line-height: 1.45rem;
	}
}

.row {
	&.bt {
		border-top: 1px dotted $color-gray-10 !important;
	}
}

.row {
	&.cmds {
		border-top: 1px solid #ddd;
		padding-top: 1rem;
		margin-top: 1rem;
	}
	&.divider {
		margin-bottom: 0.5rem;
		padding-bottom: 1rem;
		border-bottom: $main-color-500 1px solid;
	}
}

// .row.conocimiento {
// 	$color: blue;
// 	.dx-tabs {
// 		border-bottom: 1px solid $color;
// 		.dx-tab-selected {
// 			border-top-color: $color !important;
// 			.dx-tab-content {
// 				color: $color !important;
// 			}
// 		}
// 	}
// }

.card-header {
	&.main {
		padding: 0.7rem 1.2rem !important;
		font-weight: 600;
		font-size: 1.18rem;
		background-color: $main-color-600 !important;
		color: #fff;
	}
}

.header-elements-md-inline {
	.page-title {
		letter-spacing: -1.2px;
		font-size: 1.4rem;
		font-weight: 400;
	}
}

.group-detail {
	.title {
		line-height: 2.4rem;
		font-size: 2.3rem;
		font-weight: 200;
		letter-spacing: -2.4px;
		i {
			line-height: 2.4rem;
			font-weight: 500;
			color: $main-color-500;
			font-size: 2rem;
			margin-right: 0.15rem;
		}
	}
	.sub-title {
		line-height: 1.8rem;
		font-size: 1.8rem;
		font-weight: 400;
		letter-spacing: -1.8px;
		i {
			font-weight: 500;
			color: $main-color-500;
			font-size: 1.4rem;
			margin-right: 0.15rem;
		}
	}
	.title2 {
		// padding-left: 3.7rem;
		line-height: 1.8rem;
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: -1.7px;
		i {
			font-weight: 500;
			color: $main-color-500;
			font-size: 1.4rem;
			margin-right: 0.15rem;
		}
	}
	fieldset {
		margin: 0;
		border: 1px solid #ccc;
		padding: 0.5rem 1rem;
		border-radius: 5px;

		legend {
			margin: 0;
			padding: 0;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			padding-bottom: 0.5rem;
			width: auto;
			color: $main-color-500;
			line-height: 1.5rem;
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: -1.2px;
			border: none;
			i {
				color: $text;
				font-size: 1.18rem;
				font-weight: 500;
				margin-right: 0.1rem;
			}
		}
	}
	.sep {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid red;
	}
}

.file-container {
	.dx-fileuploader-button {
		margin-top: 0.4rem;
		// width: 100%;
		// .dx-button-content {
		// 	&::before {
		// 		content: "<b><i class='icon-link'></i></b>";
		// 	}
		// }
	}
}

label.error {
	$label-error-size: 1rem;
	$label-icon-size: 18px;
	margin: 0;
	font-size: $label-error-size;
	line-height: $label-error-size;
	font-weight: 600;
	// text-align: center;
	color: #d9534f !important;
	margin-top: 5px !important;
	display: block;

	&::before {
		display: inline-block;
		pointer-events: none;
		font-weight: 700;
		width: $label-icon-size;
		height: $label-icon-size;
		text-align: center;
		line-height: $label-icon-size;
		font-size: $label-icon-size -2px;
		background-color: #d9534f;
		color: #fff;
		content: "!";
		border-radius: 50%;
		margin-right: 3px;
	}
}

hr.sep {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 0.5rem !important;
	padding-bottom: 0.5rem !important;
	border-bottom: 1px dotted #999 !important;
}

.card-body {
	&.mh {
		min-height: 840px;
	}

	&.mhn {
		min-height: 825px;
	}

	// 202107052113: '$base-url' definida en 'vue.config.js'
	// 202107052123: https://stackoverflow.com/a/8608551
	background: url(#{$base-url}assets/img/bg-pages.png) no-repeat center center;

	.card-body,
	&.nbg {
		background: none !important;
	}
}

.title-zone {
	.title-desc {
		font-weight: 600;
		color: $main-color-600;
	}
	b,
	strong {
		font-weight: 600;
	}
}

.bb {
	border-bottom: 1px solid $color-gray-10;
}
